<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prog.Properties.Settings.KIR" connectionString="DATA SOURCE=127.0.0.1:1521;PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=KIR"
            providerName="Oracle.DataAccess.Client" />
        <add name="Prog.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=;PASSWORD=12345;PERSIST SECURITY INFO=True;USER ID=DON"
            providerName="Oracle.DataAccess.Client" />
        <add name="Prog.Properties.Settings.URRConSTR" connectionString="DATA SOURCE=127.0.0.1:1521;PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=URR"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>