<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DezTEPWork.Properties.Settings.ConnectionString" connectionString="Data Source=127.0.0.1:1521;User ID=don;Password=12345;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="DezTEPWork.Properties.Settings.ConnectionString1" connectionString="Provider=MSDAORA;Data Source=127.0.0.1:1521;Password=12345;User ID=don" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
